@model OdeToFood.Entities.Restaurant
@{ 
    ViewBag.Title = Model.Name;
}

<h1>Name: @Model.Name</h1>
<p>Id: @Model.Id</p>
<p>Cuisine: @Model.Cuisine</p>
<div>
    @Html.ActionLink("Home", "Index")
</div>

